/* .border{
    border: 2px solid red;
    margin: 3px;
} */
.flex{
    display: flex;
}
.justify-center{
    justify-content: center;
}
.items-center{
    align-items: center;
}
.bg-black{
    background-color: black;
    color: white;
}
.invert{
    filter: invert(1);
}
.bg-grey{
    background-color: #121212;
}
.rounded{
    border-radius: 7px;
}
.m2{
    margin: 5px;
}
.p-1{
    padding: 10px;
}

/* scroll bar */
/* For Chrome, Edge, Safari */
::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }
  
  ::-webkit-scrollbar-track {
    background: #1a1a1a; /* Dark track */
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #555;  /* Dark gray thumb */
    border-radius: 4px;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background-color: #888; /* Lighter on hover */
  }
  
  /* For Firefox */
  * {
    scrollbar-width: thin;
    scrollbar-color: #555 #1a1a1a; /* thumb color track color */
  }
  /* end */